md-dialog(aria-label="Topic Model")
	md-toolbar
		.md-toolbar-tools
			h3 {{title ? title : '加载中...'}}
			span(flex)
			md-button.md-icon-button(ng-click="gotoTopic()" aria-label="full screen")
				i.fa.fa-expand
			md-button.md-icon-button(ng-click="close()" aria-label="close")
				i.fa.fa-close
			
	md-dialog-content.md-padding(static-include="view/topic.html" ng-controller="TopicController")
		.md-dialog-content
			p(ng-bind-html="content")
		md-divider
		md-list
			md-subheader.md-no-sticky Replies
			md-list-item.md-3-line.md-long-text(ng-repeat="reply in replies")
				md-divider
				img.md-avatar(ng-src="{{reply.author.avatar_url}}")
				.md-list-item-text(layout="column")
					span {{reply.author.loginname}}
					span(ng-bind-html="reply.content")

	//- md-button.md-fab.md-fab-bottom-right
		i.fa.fa-reply