md-dialog(aria-label="{{label}}")
	md-toolbar
		.md-toolbar-tools
			h3 {{title}}
	md-dialog-content
		.md-dialog-content
			p(ng-bind-html="content")
		md-divider
		md-list
			md-list-item(ng-repeat="reply in replies")
				md-divider
				img.md-avatar(ng-src="{{reply.author.avatar_url}}")
				md-list-item-test(layout="column")
					h6 {{reply.author.loginname}}
					p(ng-bind-html="reply.content")
	
	.md-action(layout="row")
		span(flex)
		md-button Reply
		md-button(ng-click="close()") Close