md-tabs.md-primary(md-dynamic-height md-stretch-tabs="always")
	md-tab(label="这是啥")
		md-content.md-padding
			include:marked ../../README.md
	md-tab(label="上榜者")
		md-content.md-padding
			md-list
				md-subheader Maintainer
				md-list-item
					img.md-avatar(src="https://avatars.githubusercontent.com/u/9291212?v=3&s=120")
					.md-list-item-text(layout="column")
						p XGHeaven
				md-subheader Contributor
				md-list-item
					p None
	md-tab(label="License")
		md-content
			p The MIT License (MIT)

			p Copyright (c) 2016 XGHeaven

			p Permission is hereby granted, free of charge, to any person obtaining a copy
			p of this software and associated documentation files (the "Software"), to deal
			p in the Software without restriction, including without limitation the rights
			p to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
			p copies of the Software, and to permit persons to whom the Software is
			p furnished to do so, subject to the following conditions:

			p The above copyright notice and this permission notice shall be included in all
			p copies or substantial portions of the Software.

			p THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
			p IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
			p FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
			p AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
			p LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
			p OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
			p SOFTWARE.
