md-list
	md-list-item.md-2-line(ng-repeat="item in items" ng-click="showTopic($event,item.id)")
		img.md-avatar(ng-src="{{item.author.avatar_url}}")
		.md-list-item-text(layout="column")
			span {{item.title}}
			span {{item.author.loginname}}
		md-divider
			