md-toolbar
	.md-toolbar-tools(layout="row")
		md-button.md-icon-button(ng-click="toggleSider()" hide-gt-md="true")
			i.fa.fa-angle-right
		h1(flex) {{mainTitle ? mainTitle : 'CNode.JS 中文社区'}}

md-content.md-padding(ui-view="" flex style="overflow-y:scroll")

footer