md-toolbar
	.md-toolbar-tools(layout="row")
		md-button.md-icon-button(ng-click="toggleSider()" hide-gt-md="true" flex="initial")
			.fa.fa-angle-right
		h1(flex="initial") Name

md-content.md-padding(ui-view="" flex)

footer