md-tabs.md-primary(md-dynamic-height="true" md-swipe-content="true" md-stretch-tabs="always")
	md-tab(label="未读消息({{messages.hasnot_read_messages.length}})")
		md-content
			md-list
				md-list-item
					md-button.md-primary(ng-click="markAll()") Read All
				md-divider
				md-list-item(ng-repeat="message in messages.hasnot_read_messages")
					md-content(layout="column" flex)
						div(ng-switch="message.type")
							div(ng-switch-when="at")
								| {{message.author.loginname}} 在 
								a(ui-sref="main.topic({id:message.topic.id})") {{message.topic.title}}
								| 中 @ 你 {{message.reply.create_at | diffDate}}
							div(ng-switch-when="reply")
								| {{message.author.loginname}} 回复了您 
								a(ui-sref="main.topic({id:message.topic.id})") {{message.topic.title}}
								| 的文章 {{message.reply.create_at | diffDate}}
						div.cn-content.cn-quote(ng-bind-html="message.reply.content | Markdown")
					md-divider
	md-tab(label="已读消息({{messages.has_read_messages.length}})")
		md-content
			md-list
				md-list-item(ng-repeat="message in messages.has_read_messages")
					md-content(layout="column" flex)
						div(ng-switch="message.type")
							div(ng-switch-when="at")
								| {{message.author.loginname}} 在 
								a(ui-sref="main.topic({id:message.topic.id})") {{message.topic.title}}
								| 中 @ 你 {{message.reply.create_at | diffDate}}
							div(ng-switch-when="reply")
								| {{message.author.loginname}} 回复了您 
								a(ui-sref="main.topic({id:message.topic.id})") {{message.topic.title}}
								| 的文章 {{message.reply.create_at | diffDate}}
						div.cn-content.cn-quote(ng-bind-html="message.reply.content | Markdown")
					md-divider
