// div.sider(ng-controller="SiderController")
md-sidenav.md-sidenav-left.md-whiteframe-z3.fixed(md-component-id="sider" md-is-locked-open="$mdMedia('gt-md')" flex)
	//- md-toolbar.md-theme-indigo
		h1.md-toolbar-tools CNode.JS
	div.sider-header(flex layout="column" layout-align="space-around center")
		img.cn-avatar(src="{{user.avatar_url ? user.avatar_url : './image/unloginin.jpg'}}")
		span.cn-name {{user.loginname ? user.loginname : 'UnLogin in'}}
	md-list.sider-body(layout="column" ng-click="toggleSider()" aria-label="button")
		md-subheader News
		md-list-item(ng-repeat="nav in navs" ui-sref="main.list({tab:nav.tab})")
			i.fa.fa-fw.md-avatar-icon(class="fa-{{nav.fa}}") 
			| {{nav.title}}

		//- only support login in mode
		md-subheader(ng-if="isLogin()") User
		md-list-item(ng-if="isLogin()" ui-sref="main.user({name: user.loginname})" ui-sref-opts="{reload: true}")
			i.fa.fa-fw.fa-user.md-avatar-icon
			| 个人信息
		md-list-item(ng-if="isLogin()" ui-sref="main.collection({name: user.loginname})" ui-sref-opts="{reload: true}")
			i.fa.fa-fw.fa-thumbs-up.md-avatar-icon
			| 收藏列表
		md-list-item(ng-if="isLogin()" ui-sref="main.messages")
			i.fa.fa-fw.fa-comments.md-avatar-icon
			| 消息 
			span.md-secondary(ng-show="messages.hasnot_read_messages" ng-class="{'label-default': !messages.hasnot_read_messages.length, 'label-success': messages.hasnot_read_messages.length}").label {{messages.hasnot_read_messages.length}}
		md-list-item(ng-if="!!user.loginname" ng-click="logout()")
			i.fa.fa-fw.fa-sign-out.md-avatar-icon
			| 退出

		md-subheader Others
		md-list-item(ui-sref="main.setting")
			i.fa.fa-fw.fa-cog.md-avatar-icon
			| 设置
		md-list-item(ui-sref="main.about")
			i.fa.fa-fw.fa-info-circle.md-avatar-icon
			| 关于