md-list
	md-subheader Author
	md-list-item.md-3-line
		img.md-avatar(src="{{author.avatar_url}}")
		.md-list-item-text
			div 
				| {{author.loginname}} 
				cn-label(cn-tab="tab")
			div 创建于 {{create_at | date: 'yyyy-MM-dd hh:mm:ss'}}
			div 最近一次回复 {{last_reply_at | diffDate}}
			div 回复次数: {{reply_count}} , 浏览次数: {{visit_count}}
			div
	md-divider

	md-subheader Content
	md-list-item
		md-content.cn-content
			p(ng-bind-html="content | Markdown")
	md-divider

	md-subheader.md-no-sticky Replies
	md-list-item.md-3-line.reply.md-long-text(ng-repeat="reply in replies")
		img.md-avatar(ng-src="{{reply.author.avatar_url}}")
		.md-list-item-text
			span {{reply.author.loginname}}
			span.cn-content(ng-bind-html="reply.content | Markdown")
		div(layout="column")
			md-button.md-icon-button(ng-class="{stared:reply.ups.indexOf(CNUser.id) !== -1}" ng-click="star(reply)" ng-disabled="reply.author.loginname === CNUser.loginname")
				md-tooltip(md-direction="left") {{reply.ups.length}} Stared
				i.fa.fa-star
			md-button.md-icon-button
				md-tooltip(md-direction="left") Reply
				i.fa.fa-reply
		md-divider