md-content
	p(ng-bind-html="content")
	
md-divider

md-list
	md-subheader.md-no-sticky Replies
	md-list-item.md-3-line.md-long-text(ng-repeat="reply in replies")
		img.md-avatar(ng-src="{{reply.author.avatar_url}}")
		.md-list-item-text
			span {{reply.author.loginname}}
			span(ng-bind-html="reply.content")
		md-divider