md-button.md-fab.md-fab-bottom-right.md-primary.cn-fixed(ng-click="focusReply()")
	i.fa.fa-reply
md-list
	md-subheader Author
	md-list-item.md-3-line
		img.md-avatar(src="{{author.avatar_url}}")
		.md-list-item-text
			h3
				cn-label(cn-tab="tab")
				| {{author.loginname}} 
				small 创建于 {{create_at | date: 'yyyy-MM-dd hh:mm:ss'}}
			h4 最近一次回复 {{last_reply_at | diffDate}}
			h4
				| 回复次数: 
				span.label.label-success {{reply_count}}
				| , 浏览次数: 
				span.label.label-primary {{visit_count}}
	md-divider

	md-subheader Content
	md-list-item
		md-content.cn-content
			div(ng-bind-html="content | Markdown")
	md-divider

	md-subheader Replies
	md-list-item.md-3-line.reply.md-long-text(ng-repeat="reply in replies")
		img.md-avatar(ng-src="{{reply.author.avatar_url}}")
		.md-list-item-text
			h5 {{reply.author.loginname}} 
				small 回复时间：{{reply.create_at | diffDate}}
			p.cn-content(ng-bind-html="reply.content | Markdown")
		div(ng-switch="reply.author.loginname !== CNUser.loginname")
			div(ng-switch-when="true" layout="column")
				md-button.md-icon-button(ng-class="{stared:reply.ups.indexOf(CNUser.id) !== -1, 'fa-spin':reply.loading}" ng-click="star(reply)")
					md-tooltip(md-direction="left") {{reply.ups.length}} Stared
					i.fa.fa-star
				md-button(ng-click="replyTo(reply)").md-icon-button
					md-tooltip(md-direction="left") Reply
					i.fa.fa-reply
			div(ng-switch-when="false" layout="column")
				md-button.md-icon-button
					i.fa.fa-edit
				md-button.md-icon-button
					i.fa.fa-trash
		md-divider

	md-subheader Reply
	md-list-item(ng-if="!!replyFor")
		md-button(ng-click="removeReplyFor()")
			| 回复给 
			| {{replyFor.author.loginname}} 
			i (点击删除)
	md-list-item(ng-if="replyPreview === false")
		md-input-container(flex)
			label Reply Text Here (Support Markdown)
			textarea#replyText(ng-model="$parent.replyText")
	md-list-item(ng-if="replyPreview === true")
		md-content.cn-content
			p.cn-content.cn-quote(ng-bind-html="$parent.replyText | Markdown")
	md-list-item
		md-button(type="button" ng-click="togglePreview()") 预览
		md-button.md-primary(type="button" ng-click="submit()") 提交