body, html
	height 100%
	width 100%
	
md-dialog, md-content, md-list
	img
		max-width 100%
		
.loading-bar
	position fixed
	top 0
	left 0
	width 100%
	z-index 1000
	
.cn-list-header
	text-overflow ellipsis
	white-space nowrap
	overflow hidden

.cn-fixed
	position fixed !important
	
.cn-quote
	border 1px solid #ccc
	border-radius 10px
	padding 10px 20px
	width 100%
	font-size 0.8em
	background #eee
	line-height 1.2
	margin 0 0 15px
	p 
		margin 3px 0
		
for dir in top bottom left right
	for size in 1 2 3
		.cn-{dir}-offset-{size}
			{dir}: (size * (56px + 20px) + 20px) !important