// for markdownn
.cn-content
	word-wrap break-word
	pre
		overflow-x scroll
		// word-break keep-all
		white-space: nowrap;
		-webkit-overflow-scrolling touch
		code
			word-wrap initial
			white-space pre
		