md-list
	md-list-item
		span
			line-height 2rem
			
.cn-avatar-top
	border-top-right-radius 0 !important
	border-bottom-left-radius 0 !important

.cn-avatar-good
	box-shadow 0 0 2px 1px green

.label
	margin-right 5px
	&.cn-label-share
		background green

	&.cn-label-ask
		background blue
		
	&.cn-label.reply
		padding .3em 1em