.sider-header
	height 180px
	min-height 180px
	max-height 180px
	background url("../image/sider-header-bg.jpg")
	background-size 100% 100%
	
	.cn-avatar
		width 100px
		height 100px
		border-radius 50%
	
	.cn-name
		font-size 2rem
		color white
		
.sider-body
	md-list-item
		a.md-no-style
			// to fix angular-material bug, waiting for repair
			// [github#issus](https://github.com/angular/material/issues/6317)
			// this will be fixed in angular-material@1.1.0
			margin 0